Q1. Create one variable containing following type of data:

In [3]:
# (i) String
my_string = "Hello, World!"

# (ii) List
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14

# (iv) Tuple
my_tuple = (10, 20, 30)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) var1 = ' ' - The data type of var1 is a string because it contains a single space enclosed in single quotes.

(ii) var2 = '[ DS , ML , Python]' - The data type of var2 is also a string. It contains a sequence of characters enclosed in single quotes.

(iii) var3 = ['DS', 'ML', 'Python'] - The data type of var3 is a list because it contains a sequence of elements enclosed in square brackets.

(iv) var4 = 1.0 - The data type of var4 is a float because it contains a decimal number.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / (Division Operator):

The / operator is used for division, and it returns the quotient of dividing two numbers.

In [4]:
result = 10 / 3
print(result)

3.3333333333333335

(ii) % (Modulus Operator):

The % operator is used for modulus division, and it returns the remainder of dividing two numbers.

In [5]:
remainder = 10 % 3
print(remainder)

1

(iii) // (Floor Division Operator):

The // operator is used for floor division, and it returns the integer part of the quotient of dividing two numbers, discarding any remainder.

In [6]:
result = 10 // 3
print(result)

3

(iv) ** (Exponentiation Operator):

The ** operator is used for exponentiation, and it raises a number to a specified power.

In [7]:
result = 2 ** 3
print(result)

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
my_list = [1, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 30}, None, (4, 5), False, 'World']

for i in my_list:
    print(f"Element: {i}, Data Type: {type(i)}")

Element: 1, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'name': 'John', 'age': 30}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: (4, 5), Data Type: <class 'tuple'>
Element: False, Data Type: <class 'bool'>
Element: World, Data Type: <class 'str'>

Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0

while A % B == 0:
    A = A // B  
    count += 1 
if A == 0:
    print(f"{A} is completely divisible by {B}, and it can be divided {count} times.")
else:
    print(f"{A} is not completely divisible by {B}. The largest quotient is {count} times, and the remainder is {A}.")

Enter the value of A:  10
Enter the value of B:  2

5 is not completely divisible by 2. The largest quotient is 1 times, and the remainder is 5.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [17]:
my_list = [5, 9, 12, 18, 22, 36, 42, 15, 8, 27, 30, 7, 10, 33, 11, 24, 16, 21, 39, 4, 20, 3, 13, 19, 6]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

5 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
18 is divisible by 3.
22 is not divisible by 3.
36 is divisible by 3.
42 is divisible by 3.
15 is divisible by 3.
8 is not divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
7 is not divisible by 3.
10 is not divisible by 3.
33 is divisible by 3.
11 is not divisible by 3.
24 is divisible by 3.
16 is not divisible by 3.
21 is divisible by 3.
39 is divisible by 3.
4 is not divisible by 3.
20 is not divisible by 3.
3 is divisible by 3.
13 is not divisible by 3.
19 is not divisible by 3.
6 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable and immutable data types in programming refer to whether the data within a variable can be changed (mutated) after it is created. Understanding this distinction is important because it affects how you work with data in your programs.

Examples demonstrating the immutability of some data types:

In [18]:
my_string = "Hello"
my_string[0] = 'J'

TypeError: 'str' object does not support item assignment

Examples demonstrating the mutability of some data types:

In [20]:
my_list = [1, 2, 3]
my_list[0] = 4